@import '../Styles/colors.scss';

.app {
  width: 100%;
  height: 100vh;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,230,230,1) 100%); 
  
    &__skill-section{
      width: 100vw;
      height: calc(100vh - 5vh);
      display: flex;
    }
}